<!DOCTYPE html>
<html>
<head>
  <title>MyMealPlanner</title>
   <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">MyMealPlan</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
            <li><a href="/logs">Food Log</a></li>
              <li><a href="/weightbyday">Progress</a></li>
             <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="container">
  <div class="row">
    <div class="log col s2 l2">
    </div>
    <div class="log col s8 l8">
    <h4>Set your goals below and update your account information here</h4>
    <a href="http://www.fda.gov/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/LabelingNutrition/ucm064928.htm"> To see your recommended daily intake, click here </a>
      <%= form_for @user, url: 'edit' do |f| %>
      <%= f.label 'First Name: ' %>
      <%= f.text_field :fname %><br />

      <%= f.label 'Last Name: ' %>:
      <%= f.text_field :lname %><br />

      <%= f.label 'Email: ' %>:
      <%= f.text_field :email %><br />

      <%= f.label 'Height: ' %>:
      <%= f.text_field :height %><br />

        <%= f.label 'Weight: ' %>:
      <%= f.text_field :weight %><br />

        <%= f.label 'Goal: ' %>:
      <%= f.text_field :goal %><br />

      <%= f.label 'Calorie Goal: ' %>:
      <%= f.text_field :caloriegoal %><br />

        <%= f.label 'Protein Goal (g): ' %>:
      <%= f.text_field :proteingoal %><br />

        <%= f.label 'Fat Goal (g): ' %>:
      <%= f.text_field :fatgoal %><br />

       <%= f.label 'Saturated Fat Goal (g): ' %>:
      <%= f.text_field :satfatgoal %><br />

       <%= f.label 'Sodium Goal (mg): ' %>:
      <%= f.text_field :sodiumgoal %><br />

       <%= f.label 'Sugar Goal (g): ' %>:
      <%= f.text_field :sugargoal %><br />

             <%= f.label 'Carbohydrate Goal (g): ' %>:
      <%= f.text_field :carbgoal %><br />
      <br />
      <%= f.submit %>
       <br />
        <br />
<% end %>
</div>
    <div class="log col s2 l2">
    </div>
  </div>
</div>
</body>
</html>





