<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
   <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">MyMealPlan</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="continer">
  <div class="row">
    <div class="log col s5 l5">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Breakfast</div>
      <div class="collapsible-body"><% @subLog =  @logs.where(day: @id2, meal:'Breakfast', user_id: @session)  %>
      <% @subLog.each do |log| %>
    <span class="bold"> Item: <%= log['food_name'] %></span><br>
      Calories: <%= log['calories'] %><br>
       Calories from fat: <%= log['cal_from_fat'] %><br>
        Protein: <%= log['protein'] %>grams<br>
         Fat: <%= log['fat'] %> grams<br>
          Saturated Fat: <%= log['sat_fat'] %>grams <br>
           Sodium: <%= log['sodium'] %> milligrams <br>
            Sugar: <%= log['sugar'] %> grams<br>
             Carbohydrates: <%= log['carbs'] %> grams<br>
              Number of Servings: <%= log['servings'] %><br>
      <% end %>
   </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Lunch</div>
      <div class="collapsible-body"><p>
      <% @subLog =  @logs.where(day: @id2, meal:'Lunch', user_id: @session)  %>
      <% @subLog.each do |log| %>
      <span class="bold"> Item: <%= log['food_name'] %></span><br>
      Calories: <%= log['calories'] %><br>
       Calories from fat: <%= log['cal_from_fat'] %><br>
        Protein: <%= log['protein'] %> grams<br>
         Fat: <%= log['fat'] %> grams<br>
          Saturated Fat: <%= log['sat_fat'] %> grams<br>
           Sodium: <%= log['sodium'] %> milligrams<br>
            Sugar: <%= log['sugar'] %> grams<br>
             Carbohydrates: <%= log['carbs'] %> grams<br>
              Number of Servings: <%= log['servings'] %><br>
               <br>
      <% end %></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Dinner</div>
      <div class="collapsible-body"><p>      <% @subLog =  @logs.where(day: @id2, meal:'Dinner', user_id: @session)  %>
      <% @subLog.each do |log| %>
      <span class="bold"> Item: <%= log['food_name'] %></span><br>
       Calories: <%= log['calories'] %><br>
        Calories from fat: <%= log['cal_from_fat'] %>
        Protein: <%= log['protein'] %> grams<br>
          Fat: <%= log['fat'] %> grams <br>
           Saturated Fat: <%= log['sat_fat'] %> grams<br>
            Sodium: <%= log['sodium'] %> milligrams<br>
             Sugar: <%= log['sugar'] %> grams <br>
              Carbohydrates: <%= log['carbs'] %> grams<br>
               Number of Servings: <%= log['servings'] %><br>
               <br>
      <% end %></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Snacks</div>
      <div class="collapsible-body"><p>
      <% @subLog =  @logs.where(day: @id2, meal:'Snack', user_id: @session)  %>
      <% @subLog.each do |log| %>
     <span class="bold">Item: <%= log['food_name'] %><br></span>
      Calories: <%= log['calories'] %><br>
       Calories from fat: <%= log['cal_from_fat'] %><br>
        Protein: <%= log['protein'] %> grams<br>
         Fat: <%= log['fat'] %> grams<br>
          Saturated Fat: <%= log['sat_fat'] %> grams<br>
           Sodium: <%= log['sodium'] %> milligrams<br>
            Sugar: <%= log['sugar'] %> grams<br>
             Carbohydrates: <%= log['carbs'] %> grams<br>
              Number of Servings: <%= log['servings'] %><br>
               <br>
      <% end %></div>
    </li>
  </ul>
  <div class="totals">
      <h4>Daily Totals:</h4>
      Calories: <%= @calCounterBreakfast %> <br>
      Calories from Fat: <%= @calFromFatCounterBreakfast %><br>
      Protein: <%= @proteinCounterBreakfast %> grams<br>
      Fat: <%= @fatCounterBreakfast %> grams<br>
      Saturated Fat: <%= @saturatedFatCounterBreakfast %> grams<br>
      Sodium: <%= @sodiumCounterBreakfast %> milligrams<br>
      Sugar: <%= @sugarCounterBreakfast %> grams<br>
      Carbohydrates: <%=  @carbCounterBreakfast %> grams<br>
  </div>
  </div>

  <div class="col s7 l7">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
        </div>
</div>
</div>

</body>
</html>



