<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</head>
<body>
   <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">MyMealPlan</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="continer">
  <div class="row">
    <div class="col s2 l2">
    </div>
    <div class="col s8 l8">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Breakfast</div>
      <div class="collapsible-body"><p><% @subLog =  @logs.where(day: @id2, meal:'Breakfast')  %>
      <% @subLog.each do |log| %>
      <%= log['meal']  %>
      <%= log['calories'] %><br>
      <%= log['day'] %><br>
      <% end %></p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Lunch</div>
      <div class="collapsible-body"><p>
      <% @subLog =  @logs.where(day: @id2, meal:'Lunch')  %>
      <% @subLog.each do |log| %>
      <%= log['meal']  %>
      <%= log['calories'] %><br>
      <%= log['day'] %><br>
      <% end %></p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Dinner</div>
      <div class="collapsible-body"><p>      <% @subLog =  @logs.where(day: @id2, meal:'Dinner')  %>
      <% @subLog.each do |log| %>
      <%= log['meal']  %>
      <%= log['calories'] %><br>
      <%= log['day'] %><br>
      <% end %></p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Snacks</div>
      <div class="collapsible-body"><p>
      <% @subLog =  @logs.where(day: @id2, meal:'Snack')  %>
      <% @subLog.each do |log| %>
      <%= log['meal']  %>
      <%= log['calories'] %><br>
      <%= log['day'] %><br>
      <% end %></p></div>
    </li>
  </ul>
  </div>
  <div class="col s2 l2">
    </div>
</div>
 </div>
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>

</body>
</html>




