<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
   <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">MyMealPlan</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
            <li><a href="/logs">Food Log</a></li>
               <li><a href="/weightbyday">Progress</a></li>
              <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="continer">
  <div class="row">
    <div class="log col s5 l5">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Breakfast</div>
      <div class="collapsible-body"><% @subLog =  @logs.where(day: @id2, meal:'Breakfast', user_id: @session)  %>
      <% @subLog.each do |log| %>
      <div class="logit">
    <span class="bold"> Item: <%= log['food_name'] %></span><br>
      <a href="/logs/<%= log['id']%>/edit">Edit or remove this log item</a><br>
      Calories: <%= log['calories'] %><br>
       Calories from fat: <%= log['cal_from_fat'] %><br>
        Protein: <%= log['protein'] %> grams<br>
         Fat: <%= log['fat'] %> grams<br>
          Saturated Fat: <%= log['sat_fat'] %> grams <br>
           Sodium: <%= log['sodium'] %> milligrams <br>
            Sugar: <%= log['sugar'] %> grams<br>
             Carbohydrates: <%= log['carbs'] %> grams<br>
              Number of Servings: <%= log['servings'] %><br>
              <br>
              </div>
      <% end %>
   </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Lunch</div>
      <div class="collapsible-body"><p>
      <% @subLog =  @logs.where(day: @id2, meal:'Lunch', user_id: @session)  %>
      <% @subLog.each do |log| %>
      <div class="logit">
      <span class="bold"> Item: <%= log['food_name'] %></span><br>
      Calories: <%= log['calories'] %><br>
       Calories from fat: <%= log['cal_from_fat'] %><br>
        Protein: <%= log['protein'] %> grams<br>
         Fat: <%= log['fat'] %> grams<br>
          Saturated Fat: <%= log['sat_fat'] %> grams<br>
           Sodium: <%= log['sodium'] %> milligrams<br>
            Sugar: <%= log['sugar'] %> grams<br>
             Carbohydrates: <%= log['carbs'] %> grams<br>
              Number of Servings: <%= log['servings'] %><br>
               <br>
            </div>
      <% end %></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Dinner</div>
      <div class="collapsible-body"><p>      <% @subLog =  @logs.where(day: @id2, meal:'Dinner', user_id: @session)  %>
      <% @subLog.each do |log| %>
      <div class="logit">
      <span class="bold"> Item: <%= log['food_name'] %></span><br>
       Calories: <%= log['calories'] %><br>
        Calories from fat: <%= log['cal_from_fat'] %>
        Protein: <%= log['protein'] %> grams<br>
          Fat: <%= log['fat'] %> grams <br>
           Saturated Fat: <%= log['sat_fat'] %> grams<br>
            Sodium: <%= log['sodium'] %> milligrams<br>
             Sugar: <%= log['sugar'] %> grams <br>
              Carbohydrates: <%= log['carbs'] %> grams<br>
               Number of Servings: <%= log['servings'] %><br>
               <br>
               </div>
      <% end %></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Snacks</div>
      <div class="collapsible-body"><p>
      <% @subLog =  @logs.where(day: @id2, meal:'Snack', user_id: @session)  %>
      <% @subLog.each do |log| %>
      <div class="logit">
     <span class="bold">Item: <%= log['food_name'] %><br></span>
      Calories: <%= log['calories'] %><br>
       Calories from fat: <%= log['cal_from_fat'] %><br>
        Protein: <%= log['protein'] %> grams<br>
         Fat: <%= log['fat'] %> grams<br>
          Saturated Fat: <%= log['sat_fat'] %> grams<br>
           Sodium: <%= log['sodium'] %> milligrams<br>
            Sugar: <%= log['sugar'] %> grams<br>
             Carbohydrates: <%= log['carbs'] %> grams<br>
              Number of Servings: <%= log['servings'] %><br>
               <br>
               </div>
      <% end %></div>
    </li>
  </ul>
  <div class="totals">
    <div class="row">
      <div class="col sm6 l6">
      <h4>Daily Totals:</h4>
      </div>
      <div class="col sm6 l6">
      </div>
    </div>

<div class="row">
  <div class="col sm6 l6">
     Calories: <%= @calCounterBreakfast %> <br>
      <% if @calorieGoalMade === true%>
         <div class="R">Left until goal reached: <%=@caloriesLeft %></div>
          <% else %>
         <div class="G">Left until goal reached: <%=@caloriesLeft  %></div>
          <% end %>
          <br>

    </div>
<div class="col sm6 l6">
    Protein: <%= @proteinCounterBreakfast %> grams<br>
      <% if @proteinGoalMade === true%>
         <div class="R">Left until goal reached: <%=@proteinLeft %> grams</div>
          <% else %>
         <div class="G">Left until goal reached: <%=@proteinLeft  %> grams</div>
          <% end %>
          <br>
    </div>
  </div>
  <div class="row">
    <div class="col sm6 l6">
       Fat: <%= @fatCounterBreakfast %> grams<br>
      <% if @fatGoalMade === true%>
         <div class="R">Left until goal reached: <%=@fatLeft %> grams</div>
          <% else %>
         <div class="G">Left until goal reached: <%=@fatLeft  %> grams</div>
          <% end %>
          <br>
      </div>
      <div class="col sm6 l6">
      Saturated Fat: <%= @saturatedFatCounterBreakfast %> grams<br>
        <% if @satFatGoalMade === true%>
         <div class="R">Left until goal reached: <%=@satFatLeft %> grams</div>
          <% else %>
         <div class="G">Left until goal reached: <%=@satFatLeft  %> grams</div>
          <% end %>
          <br>
      </div>
    </div>
  <div class="row">
    <div class="col sm6 l6">
      Sodium: <%= @sodiumCounterBreakfast %> milligrams<br>
        <% if @sodiumGoalMade === true%>
         <div class="R">Left until goal reached: <%=@sodiumLeft %> milligrams</div>
          <% else %>
         <div class="G">Left until goal reached: <%=@sodiumLeft  %> milligrams</div>
          <% end %>
          <br>
          </div>
    <div class="col sm6 l6">
            Sugar: <%= @sugarCounterBreakfast %> grams<br>
            <% if @sugarGoalMade === true%>
              <div class="R">Left until goal reached: <%=@sugarLeft %> grams</div>
                <% else %>
              <div class="G">Left until goal reached: <%=@sugarLeft  %> grams</div>
                <% end %>
              <br>
    </div>
  </div>
    <div class="row">
      <div class="col sm6 l6">
            Carbohydrates: <%=  @carbCounterBreakfast %> grams<br>
            <% if @carbGoalMade === true%>
              <div class="R">Left until goal reached: <%=@carbLeft %> grams</div>
                <% else %>
              <div class="G">Left until goal reached: <%=@carbLeft  %> grams</div>
                <% end %>
              <br>
    </div>
    <div class="col sm6 l6">
    </div>
    </div>
  </div>
  </div>

  <div class="col s7 l7">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
        </div>
</div>
</div>

<div class="stats">
<h4>Daily Statistics</h4>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="stats col sm4 l4">
    <h5>Calories by Meal</h5>
    <%= pie_chart @mylogs.group(:meal).sum(:calories) %>
    </div>
    <div class="stats col sm4 l4">
    <h5>Protein by Meal</h5>
      <%= pie_chart @mylogs.group(:meal).sum(:protein) %>
    </div>
    <div class="stats col sm4 l4">
    <h5>Fat by Meal</h5>
    <%= pie_chart @mylogs.group(:meal).sum(:fat) %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="stats col sm4 l4">
    <h5>Carbs by Meal</h5>
      <%= pie_chart @mylogs.group(:meal).sum(:carbs) %>
    </div>
    <div class="stats col sm4 l4">
    <h5>Sugar by Meal</h5>
    <%= pie_chart @mylogs.group(:meal).sum(:sugar) %>
    </div>
      <div class="stats col sm4 l4">
    <h5>Saturated Fat by Meal</h5>
    <%= pie_chart @mylogs.group(:meal).sum(:sat_fat) %>
    </div>
  </div>
</div>

</body>
</html>





