<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
</head>
<body>
<%= csrf_meta_tags %>

  <h1> Welcome <%=@first  %> <%=@last  %>!</h1>

<%=@id  %>

    Height: <%=@newheight2  %> feet
    Weight: <%=@newweight2  %>
    Goal: <%=@goal  %>
    <%= @email %>
   <h1> Today is </h1><h1 class='date'><%=@currentTimeReal  %> </h1>
     Would you like to log a meal?
  <input class="search"><button id="searchit">search!</button>
</body>
</html>


