<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
   <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">MyMealPlan</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="row">
  <div class="col col s12 m4 l3">
    <h3> Welcome <%=@first  %> <%=@last  %>!</h3>
    Height: <%=@newheight2  %> feet <br>
    Weight: <%=@newweight2  %> pounds<br>
    Goal: <%=@goal  %> <br>
    <%= @email %><br>
    <a href="/edit">Click to edit your account info and set daily goals!</a>

  </div>
  <div class="col s12 m8 l9">
    <h2> Today is <%=@currentTimeReal2  %> </h2>
      <h2>Would you like to log a meal?</h2>
      <br>
        <h5> Simply search for the food item you are looking to add, adjust servings, and add to your meal!</h5>
        <input class="search"><button id="searchit">Search</button><button id="clearit">Clear results</button>
    </div>
</body>
</html>

